
table,th,tr,td{
    border: 1px solid grey;
}
td, th{
    padding: 10px 20px;
}
table{
    border-collapse: collapse;
    margin: 2% 5%;
}

input{
    margin: 10px;
    margin-left: 5%;
}

#main select{
    margin: 10px;
    padding: 5px 8px;
  
}